<div class="container">

  <div class="row">
    <div class="jumbotron clearfix">
      <div class="col-sm-3 bill-headshot">
        <img class="headshot-img" src="./app/images/bill.jpg" />
        <br />
        <div style="font-size:24px;" class="name"><strong><a ui-sref="capFinPlanning.resume">Bill Christian</a></strong></div>
        <div style="font-size:12px;" class="title">Certified Financial Planner ™</div>
        <br />
        <p><a class="btn btn-primary btn-default" target="_blank" href="mailto:bill@capitalfinancialplanning.com?cc=billchristian@ims-securities.com&subject=%5BWebsite%20Feedback%5D%20Capital%20Financial%20Planning" role="button">Email</a>
        <a class="btn btn-default" ng-click="false" role="button"><span class="glyphicon glyphicon-earphone"></span> | (713) 932-1955</a></p>
        <br />
      </div>
      <div class="col-sm-8 col-sm-offset-1">

        <h1>Capital Financial Planning</h1>

        <h3>Assisting Clients In the Accumlation and Preservation or Wealth</h3>

        <p>We identify your goals and your dreams and then plan to achieve them, while building and preserving wealth.</p>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7">

      <ul class="services-bullets">
        <li>Are you ready for <a ui-sref="capFinPlanning.servicesretirement">retirement</a>? Is it important to you to have a guaranteed monthly income?</li>

        <li>Do you need a <a ui-sref="capFinPlanning.servicescomprehensive">comprehensive financial plan</a> for tax, estate, investment, retirement and education issues?</li>

        <li>Do you need a second opinion about the proper allocation of your <a ui-sref="capFinPlanning.servicesinvestments">investments</a>? Are you worried about your 401(k)?</li>

        <li>Is your <a ui-sref="capFinPlanning.servicesestate">estate plan</a> up to date?</li>

        <li>Is your life insurance adequate?</li>

      </ul>
    </div>

    <div class="col-md-5 visible-md-block visible-lg-block">
      <iframe style="width: 100%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3462.8082147889672!2d-95.51522904932631!3d29.783186637733387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c4643dcdf0f1%3A0xe5b582ba8d82a980!2s975+Corbindale+Rd%2C+Houston%2C+TX+77024!5e0!3m2!1sen!2sus!4v1460933406814" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>

</div>

