<div class="container">

  <div class="row">
    <div class="jumbotron clearfix">
      <div class="col-sm-3">
        <img src="./app/images/bill.jpg" />
        <br />
        <div style="font-size:24px;"><strong>Bill Christian</strong></div>
        <div style="font-size:12px;">Certified Financial Planner ™</div>
        <br />
        <br />
      </div>
      <div class="col-sm-9`">

        <h1>Capital Financial Planning</h1>

        <h3>Assisting Clients In the Accumlation and Preservation or Wealth</h3>

        <p>We identify your goals and your dreams and then plan to achieve them, while building and preserving wealth.</p>
        <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <ul>
        <li><strong>Are you ready for retirement? Is it important to you to have a guaranteed monthly income?</strong></li>

        <li><strong>Do you need a comprehensive financial plan for tax, estate, investment, retirement and education issues?</strong></li>

        <li><strong>Do you need a second opinion about the proper allocation of your investments? Are you worried about your 401(k)?</strong></li>

        <li><strong>Is your estate plan up to date?</strong></li>

        <li><strong>Is your life insurance adequate?</strong></li>

      </ul>
    </div>
  </div>

</div>

