
<div class="container">
  <div class="row">

    <div class="col-md-6 col-md-offset-3">

      <h2>Background</h2>
      <p>Founded Capital Financial Planning Group in 1996 after a lengthy career as corporate legal counsel.</p>


      <h2>Focus</h2>
      <p>Planning and investing for retirement is our main focus.   Building and protecting your nest egg is achieved always by diversification and by selecting only the best and most experienced companies for: individual stocks, mutual funds, REIT’s (real estate), annuities, insurance, energy or other investments.</p>


      <h2>Designations</h2>
      J.D., CFP

      <h2>Teaching</h2>
      <ul>
        <li>Adjunct Professor, Financial Planning</li>
        <li>University of Houston 2006-2008</li>
      </ul>

      <h2>Honors</h2>
      <ul>
      <li><a href="http://www.fivestarprofessional.com/find-a-professional?market_id=25&prof_id=2&professional_name=Search+for+professional+name&company_name=capital+financial+planning" target="_blank">Five-Star Wealth Manager</a>,
      Texas Monthly, Septembers 2009-{{year}}</li>
      </ul>

      <h2>Licenses</h2>
      Securities: Series 7, 63, 79
      Insurance & Annuities: TX, FL, IL

      <h2>Memberships</h2>
      Financial Planning Association (FPA)
      Houston FPA Chapter
      State Bar of Texas

      <h2>Education</h2>
      The University of North Carolina (Chapel Hill), B.A. English
      The University of Virginia Law School, J.D.
      Tulane School of Law, L.L.B.

    </div>

  </div>
</div>
