<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">

      <h1>Services Overview</h1>

      <p>Capital Financial Planning offers financial planning services which vary in scope from a consultation to a comprehensive financial plan and from a review of investments to active portfolio management. You select the service appropriate to your situation.</p>

      <h3>Initial Consultation</h3>

      <p>There is no fee for the initial meeting in which we explore which of our services are suitable for you.</p>

      <h3>Compensation</h3>

      <p>Investment management fees are based on a percentage of assets under management. Life insurance or annuities are provided through highly rated companies on a commission basis. Other services may be provided on an hourly basis if preferred.</p>

      <br />
      <br />
    </div>

    <div class="col-xs-4 col-xs-offset-4">

      <div class="panel panel-default">
        <div class="panel-body services-overview-link">
          <a ui-sref="capFinPlanning.servicesretirement">Retirement</a>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body services-overview-link">
          <a ui-sref="capFinPlanning.servicescomprehensive">Comprehensive Financial Plan</a>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body services-overview-link">
          <a ui-sref="capFinPlanning.servicesinvestments">Investments</a>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body services-overview-link">
          <a ui-sref="capFinPlanning.servicesestate">Estate Planning / Life Insurance / Annuities</a>
        </div>
      </div>
    </div>
  </div>
</div>