<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">

      <h2>Estate Planning</h2>

      <p>With our legal background and years of experience in dealing with estates, we are in a position to advise you concerning the preservation of wealth and the transfer of wealth.</p>

      <p>We will refer you to board certified estate planning attorneys for the preparation of the estate planning documents you need. We make certain that you receive the highest quality legal assistance at reasonable cost.</p>

      <p>Life insurance is often a very important part of estate planning and we can provide life insurance designed to meet your needs through highly rated life insurance companies.</p>

    </div>
  </div>
</div>