<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h2>Retirement Planning</h2>

      <p>One of the most difficult decisions that people face is deciding what to do in retirement and when to make that transition.</p>

      <p>Where do you want to be and what do you want to be doing in the golden years?</p>

      <p>With our counseling you can achieve the financial security you seek and realize your dreams.</p>

      <h2>Annuities</h2>

      <p>Many companies today offer annuities with guaranteed income for life and it's our job to determine what would be tailored to your situation and show you a range of appropriate choices that are in your best interests.</p>

    </div>
  </div>
</div>