<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">

      <h1>Investments</h1>

      <h2>General Philosophy</h2>

      <p>Our investment philosophy is grounded in a value investor's approach to equity investments. The value investor generally seeks to make investments in equities which are temporarily out of favor but have long-term value or potential for growth.</p>

      <h2>Mutual Funds</h2>

      <p>We seek to diversify a portfolio by investing in different categories such as large cap, mid-cap and small cap. We also diversify portfolios by including international investments. We constantly review investments to select only those which continue to produce a consistent positive return over the years. We have a preference for "value" investments/long-term records of low volatility and high returns.</p>

      <h2>Individual Stocks</h2>

      <p>In selecting individual stocks for investment again we emphasize the value approach, selecting stocks with low price-to-earnings ratios which have the potential for earnings growth. Diversification is achieved by limiting overall investment in the broad categories of industries to certain percentages so that heavy concentration in any one area is avoided. Most of our investments in individual stocks are in large cap or mid-cap stocks with a very limited selection of small cap stocks.</p>

      <p>We recommend investment in individual stocks almost exclusively for taxable accounts, as opposed to tax-deferred accounts.</p>

      <h2>Alternative Investments</h2>

      <p>We recommend alternative investments from time to time, again to diversify investments and to achieve the optimum asset allocation. These alternative investments may include private placements in REIT's, oil &amp; gas, and equipment leasing. The alternative investments are reviewed by IMS Securities, Inc. A review is done by IMS and then further due diligence is carried out by us to make certain that the investment(s) in question is appropriate for you.</p>

    </div>
  </div>
</div>